/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    position: relative;
    background-color: #FFFFFF;
}

/* estilos header */
.header{
    display: flex;
    background-color:#FCA311;
}

.header__title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: #000000;
}

/* estilos main */
.main{
    /* background-color: aqua; */
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;
}

.main__search-form{
    background-color: #E5E5E5;
    grid-column: span 3;
    display: flex;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    gap: 1rem;
}

.main__map{
    height: 80vh;
    grid-column: span 2;
    width: 100%;
    justify-self: start;
}

.main__resultados-busqueda{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}

.main__resultados-busqueda--oculto{
    display: none;
}

.main__titulo-resultados-busqueda{
    text-align: center;
}

.main__resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #E5E5E5;
    cursor: pointer;
}

.comercio-div{
    position: absolute;
    bottom: 0%;
    margin:10px 10px 10px 10px;
    right:0%;
    display: flex;
    flex-direction: column;
    z-index: 999;
    background-color: #E5E5E5;
    /* padding: 1rem; */
    border-radius: 0.5rem;
}

.comercio-div__cabecera{
    background-color: #14213D;
    color: #E5E5E5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 5px;
}

.comercio-div__btn-cerrar{
    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
    justify-self: end;
}

.comercio-div__form{
    display: flex;
    justify-content: space-around;
}

.marker-color-green{
    filter:hue-rotate(278deg);
}